body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}
section{
    width: 100%;
}

#primar_header{
    background-color: #EEE9DA;
    width: 100%;
    height: 8%;
    position: sticky;
    top: 0;
}

#bild_text{
    z-index: 1;
    top: -100%;
    position: relative;
    color: white;

}

#bild_text h2, p{
    text-align: left;
    margin-left: 1%;
    width: 30%; 
}

h1{
    text-align: center;
    font-size: 110%;
}

h2{
    text-align: center;
    margin-top: 1em;
}

#flashcards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

.card{
    width: 18rem;
}

#flashcards_section{
    background-color: #BDCDD6;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    
}

.btn-primary{
    margin-bottom: 20%;
}
.card-img-top{

    width: 100%;
    height: 12em;
}

.card-text{
    width: 100%;
    height: 50%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: auto;
}

li {

}

#stor_section{
    background-color: red;
    width: 100%;
    height: 100%;
}

picture{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}


#liten_section{
    background-color: #93BFCF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

#liten_section h3{
    margin-top: 1em;

}

#varfor{
    width: 50%;
    margin-left: 1em;
}

#varfor p{
    width: 80%;
    margin-top: 5%;
    height: 100%;
}

#sociala_medier{
    width: 50%;
    text-align: center;
    height: 100%;

}

#sociala_medier h3{
    margin-left: 5%;

}

.bi{
    height: 3em;
    width: 3em;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    color: black;
}

#primar_footer{
    background-color: #6096B4;
    height: 100%;
    width: 100%;    
}

#primar_footer h4{
    text-align: left;
    margin-left: 1%;
    font-size: 1em;
    line-height: 100%;
    margin: 1%;
}