body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    box-shadow: 0.1em 0.1em 0.1em #ccc;
}

section{
    width: 100%;
}

#primar_header{
    background-color: #EEE9DA;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1{
    text-align: center;
    font-size: 110%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
}

#liten_section{
    width: 100%;
    display: flex;
    flex-direction:column ;
    background-color:#BDCDD6;
}

#liten_section h2{
    text-align: center;
    margin-top: 1%;
}

#stor_section{
    background-color: #93BFCF;
    width: 100%;
}

#carouselExampleCaptions{
    width: 60%;
    height: 50%;
    margin: 1% auto;
}

img{
    height: 40em;
}

#Kontaktformular{
    background-color:#BDCDD6;
    margin-top: 10%;
}


form{
    margin-bottom: 10%;
    width: 30%;
    margin:auto;
}

#primar_footer{
    background-color: #6096B4;
    width: 100%;    
}

#primar_footer h4{
    text-align: left;
    margin-left: 1%;
    font-size: 1em;
    line-height: 100%;
    margin: 1%;
}